<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Credit List</h1>
    <a th:if="${!listCredits.isEmpty()}" th:href = "@{/credits/show_new_credit_form/{id}(id=${listCredits.get(0).bank.id})}" class="btn btn-info btn-sm mb-3"> Create Credit</a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Title</th>
            <th>Limit</th>
            <th>Percent</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="credit : ${listCredits}">
            <td th:text="${credit.title}"></td>
            <td th:text="${credit.limit}"></td>
            <td th:text="${credit.percent}"></td>
            <td> <a th:href="@{/credits/show_form_for_update/{id}(id=${credit.id})}" class="btn btn-warning">Update</a>
                <a th:href="@{/credits/delete_credit/{id}(id=${credit.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:if="${!listCredits.isEmpty()}" th:href = "@{/show_bank/{id}(id=${listCredits.get(0).bank.id})}" class="btn btn-success btn-sm mb-3"> Show Bank </a>
</div>
</body>
</html>