<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Credit List</h1>
    <a th:if="${!listCredits.isEmpty()}" th:href = "@{/credits/show_new_credit_form/{id}(id=${listCredits.get(0).bank.id})}" class="btn btn-info btn-sm mb-3"> Create Credit</a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">
                    Credit Title</a>
            </th>
            <th>
                <a th:href="@{'page/' + ${currentPage} + '?sortField=limit&sortDir=' + ${reverseSortDir}}">
                    Credit Limit</a>
            </th>
            <th>
                <a th:href="@{'page/' + ${currentPage} + '?sortField=percent&sortDir=' + ${reverseSortDir}}">
                    Credit Percent</a>
            </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="credit : ${listCredits}">
            <td th:text="${credit.title}"></td>
            <td th:text="${credit.limit}"></td>
            <td th:text="${credit.percent}"></td>
            <td> <a th:href="@{/credits/show_form_for_update/{id}(id=${credit.id})}" class="btn btn-warning">Update</a>
                <a th:href="@{/credits/delete_credit/{id}(id=${credit.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:if="${!listCredits.isEmpty()}" th:href = "@{/show_bank/{id}(id=${listCredits.get(0).bank.id})}" class="btn btn-success btn-sm mb-3"> Show Bank </a>
    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{${listCredits.get(0).bank.id}+ '/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>