<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Credit Management System</h1>
    <hr>
    <h2>Create Credit</h2>

    <form action="#" th:action="@{/credits/save_credit}" th:object="${credit}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{bank}" />

        <input type="text" th:field="*{title}"
               placeholder="Credit Title" class="form-control mb-4 col-4">

        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>


        <input type="text" th:field="*{limit}"
               placeholder="Credit Limit" class="form-control mb-4 col-4">

        <div style="color:red" th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">limit error</div>


        <input type="text" th:field="*{percent}"
               placeholder="Loan Interest Rate" class="form-control mb-4 col-4">

        <div style="color:red" th:if="${#fields.hasErrors('percent')}" th:errors="*{percent}">percent error</div>

        <button type="submit" class="btn btn-info col-2"> Create Credit</button>
    </form>

    <hr>

    <a th:href = "@{/credits/credits_list/{id}(id=${credit.bank.id})}"> Back to Credit List</a>
</div>
</body>
</html>