<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Offers Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Credit Offers List</h1>
    <a th:if="${!listCreditOffers.isEmpty()}" th:href = "@{/clients/clients_list/{id}(id=${listCreditOffers.get(0).bank.id})}" class="btn btn-info btn-sm mb-3"> Back To Client List</a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Named</th>
            <th>Amount</th>
            <th>Period In Month</th>
            <th>Percent Sum</th>
            <th>Bank</th>
            <th>Credit</th>
            <th>Client</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="creditOffer : ${listCreditOffers}">
            <td th:text="${creditOffer.named}"></td>
            <td th:text="${creditOffer.amount}"></td>
            <td th:text="${creditOffer.periodInMonths}"></td>
            <td th:text="${creditOffer.percentSum}"></td>
            <td th:text="${creditOffer.bank}"></td>
            <td th:text="${creditOffer.credit}"></td>
            <td th:text="${creditOffer.client}"></td>
            <td>    <a th:href="@{/payment_schedules/payment_schedules_list/{id}(id=${creditOffer.id})}" class="btn btn-success">Show</a>
                <a th:href="@{/credit_offers/show_form_for_update/{id}(id=${creditOffer.id})}" class="btn btn-warning">Update</a>
                <a th:href="@{/credit_offers/delete_credit_offer/{id}(id=${creditOffer.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>