<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Offer Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Credit Offer Management System</h1>
    <hr>
    <h2>Create Credit Offer</h2>

    <form action="#" th:action="@{/creditsOffers/saveCreditOffer}" th:object="${creditOffer}"
          method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{client}" />
        <input type="hidden" th:field="*{bank}" />

        <select class="form-control" id="addTeam">
            <option value="0">Select Credit</option>
            <option th:each="credit : ${creditOffer.getBank().getCredits()}" th:value="${creditOffer.setCredit(credit)}" th:text="${credit.getTitle()}"></option>
        </select>

        <input type="hidden" th:field="*{credit}" />

        <br>
        <br>

        <input type="text" th:field="*{named}"
               placeholder="Named" class="form-control mb-4 col-4">

        <input type="text" th:field="*{amount}"
               placeholder="Amount" class="form-control mb-4 col-4">

        <input type="text" th:field="*{periodInMonths}"
               placeholder="Period In Months" class="form-control mb-4 col-4">

        <input type="text" th:field="*{firstPay}"
               placeholder="First Pay" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Create Credit Offer</button>
    </form>

    <hr>

    <a th:href = "@{/creditsOffers/creditsOffersList}"> Back to Credit Offer List</a>
</div>
</body>
</html>