<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Offer Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Credit Offer Management System</h1>
    <hr>
    <h2>Update Credit Offer</h2>

    <form action="#" th:action="@{/credit_offers/save_credit_offer}" th:object="${creditOffer}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="hidden" th:field="*{bank}" />

        <input type="hidden" th:field="*{credit}" />

        <input type="hidden" th:field="*{client}" />


        <input type="text" th:field="*{named}" class="form-control mb-4 col-4">

        <div style="color:red" th:if="${#fields.hasErrors('named')}" th:errors="*{named}">named error</div>


        <input type="text" th:field="*{amount}" class="form-control mb-4 col-4">

        <div style="color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount error</div>


        <input type="text" th:field="*{periodInMonths}" class="form-control mb-4 col-4">

        <div style="color:red" th:if="${#fields.hasErrors('periodInMonths')}" th:errors="*{periodInMonths}">periodInMonths error</div>


        <button type="submit" class="btn btn-info col-2"> Update Credit Offer</button>
    </form>

    <hr>

    <a th:href = "@{/credit_offers/credit_offers_list}"> Back to Credit Offers List</a>
</div>
</body>
</html>