<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Client List</h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Last Name, First Name, Middle Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Passport Number</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${listClients}">
            <td th:text="${client.fio}"></td>
            <td th:text="${client.phoneNumber}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.passportNumber}"></td>
            <td> <a th:href="@{/credit_offers/show_new_credit_offer_form/{id}(id=${client.getId()})}" class="btn btn-success">CreditOffer</a>
                <a th:href="@{/clients/show_form_for_update/{id}(id=${client.id})}" class="btn btn-warning">Update</a>
                <a th:href="@{/clients/delete_client/{id}(id=${client.getId()})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <hr>
        <a th:if="${!listClients.isEmpty()}" th:href = "@{/show_bank/{id}(id=${listClients.get(0).bank.id})}" class="btn btn-info btn-sm mb-3"> Go Back To The Bank Menu</a>
        </tbody>
    </table>
    <a th:href="@{/}">Start Page</a>
</div>
</body>
</html>