<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Client Management System</h1>
    <hr>
    <h2>Save Client</h2>
    <form action="#" th:action="@{/clients/save_client/}" th:object="${client}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{bank}" />
        <div style="color:red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">fio error</div>
        <input type="text" th:field="*{fio}" placeholder="Last Name, First Name, Middle Name" class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber error</div>
        <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number" class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">passportNumber error</div>
        <input type="text" th:field="*{passportNumber}" placeholder="Passport Number" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Save Client</button>
    </form>
    <hr>
    <a th:href = "@{/clients/clients_list/{id}(id=${client.bank.id})}"> Back to Client List</a>
    <br>
    <br>
    <a th:href="@{/}">Start Page</a>
</div>
</body>
</html>