<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Bank Management System</h1>
    <hr>
    <h2>Show Bank</h2>
    <br>
    <br>
    <h1 th:text="${bank.title}">Bank Title</h1>
    <a th:href = "@{/credits/show_new_credit_form/{id}(id=${bank.getId()})}" class="btn btn-success btn-sm mb-3">Create Credit</a>
    <a th:href = "@{/clients/show_new_client_form/{id}(id=${bank.getId()})}" class="btn btn-primary btn-sm mb-3">Add Client</a>
    <hr>
    <a th:href = "@{/credits/credits_list/{id}(id=${bank.getId()})}" class="btn btn-info btn-sm mb-3">Show Credit</a>
    <a th:href = "@{/clients/clients_list/{id}(id=${bank.getId()})}" class="btn btn-info btn-sm mb-3">Show Client</a>
    <hr>
    <a th:href = "@{/bank_list}">Back to Bank List</a>
</div>
</body>
</html>